[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Discord
Type=Application
NoDisplay=false
Exec=/home/lucifer/tarballs/Discord/discord %u
Icon=/home/lucifer/tarballs/Discord/discord.png
Comment=Custom definition for Discord
