[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Telegram
Type=Application
NoDisplay=false
Exec=/home/lucifer/tarballs/Telegram/Telegram %u
Icon=/home/lucifer/dotfiles/icons/telegram.png
Comment=Custom definition for Telegram
