@import url("/home/lucifer/.config/waybar/colors.css");


* {
        min-height: 0;
        min-width: 0;
        font-family: Lexend, "JetBrainsMono NFP";
        font-size: 14px;
        font-weight: 600;
}

window#waybar {
        transition-property: background-color;
        transition-duration: 0.5s;
        background-color: transparent;
}

#custom-launcher {
        background: #1e1e2e;
        color: @primary;
        /* color: #89b4fa; */
        font-size: 16px;
        font-weight: bold;
}

#workspaces {
        background-color: #1e1e2e;
        opacity: 0.95;
}

#workspaces button {
        all: initial;
        padding: 0 6px;
        margin: 0 1.5px;
        min-width: 9px;
}

#workspaces button.empty {
        opacity: 0.5;
}

#workspaces button:hover {
        color: #1e1e2e;
        background-color: #cdd6f4;
}

#workspaces button.active {
        background-color: #1e1e2e;
        color: @primary;
        /* color: #74c7ec; */
}

#workspaces button.urgent {
        background-color: #1e1e2e;
        color: #f38ba8;
}

#network {
        background: #1e1e2e;
        color: @primary;
        /* color: #a6e3a1; */
}

#network.disconnected {
        color: #f38ba8;
}

#network.disabled {
        color: #f38ba8;
}

#temperature {
        background: #1e1e2e;
        color: @primary;
        /* color: #74c7ec; */
}

#temperature.warning {
        color: @error;
}

#temperature.critical {
        color: @error_container
}

#custom-launcher,
#temperature,
#workspaces,
#network,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#battery,
#tray,
#memory,
#window,
#custom-media-switcher,
#mpris {
        padding: 0.15rem 0.6rem;
        margin: 0.15rem 0.25rem;
        border-radius: 6px;
        background-color: #1e1e2e;
}

#mpris.playing {
        color: @primary;
        /* color: #a6e3a1; */
}

#mpris.paused {
        color: @secondary;
        /* color: #9399b2; */
}

#custom-media-switcher {
        color: @primary;
}

#custom-sep {
        padding: 0px;
        color: #585b70;
}

window#waybar.empty #window {
        background-color: transparent;
}

#cpu {
        color: @primary;
        /* color: #94e2d5; */
}

#memory {
        color: @primary;
        /* color: #cba6f7; */
}

#clock {
        color: @primary;
}

#window {
        color: #cdd6f4;
}

#pulseaudio {
        color: @primary;
}


#pulseaudio.muted {
        color: #a6adc8;
}

#custom-logo {
        color: @primary;
}

#custom-power {
        color: #f38ba8;
}

#battery {
        background-color: #1e1e2e;
        color: @primary;
}

#battery.warning,
#battery.critical,
#battery.urgent {
        background-color: #ff0000;
        color: #FFFF00;
}

#battery.charging {
        background-color: #a6e3a1;
        color: #181825;
}

tooltip {
        background-color: #181825;
        border: 2px solid @primary;
        /* border: 2px solid #89b4fa; */
}
