@import url("/home/lucifer/.config/wofi/colors.css");

* {
        font-family: "JetBrainMono NF";
        font-size: 14px;
        border: none;
        border-radius: 0;
}

#window {
        background-color: transparent;
}

#outer-box {
        background-color: @background;
        border-radius: 14px;
        border: 1px solid @primary;
        margin: 10px;
        padding: 15px;
}

#input {
        background-color: @on_primary;
        color: @tertiary;
        padding: 8px 12px;
        margin-bottom: 10px;
        border-radius: 8px;
        border: 1px solid @primary;
        transition: border-color 0.3s ease;
}

#input:focus {
        border-color: @primary;
}

#scroll {
        margin-top: 5px;
}

#entry {
        padding: 8px;
        border-radius: 8px;
        color: #abb2bf;
        background-color: transparent;
}

#entry:selected {
        background-color: @primary;
        font-weight: bold;
}

#text:selected {
        color: #282c34;
}

#text {
        padding: 0px 5px;
}
